@font-face {
  font-family: Chewy;
  src: url('../src/assets/fonts/Chewy-Regular.ttf');
}

@import 'tailwindcss';

@theme {
  --font-chewy: 'Chewy', sans-serif;

  /* Global backgroun */
  --color-bg-accent: #3299c5;

  /* Game Board Colors */
  --color-board-bg: #7faaeb;
  --color-cell-bg: #fd9a00;
  --color-cell-border: #bb4d00;

  /* Player Colors */
  --color-player-accent: #a111aa;
  --color-player-primary: #003fa9;
}

html {
  font-family: var(--font-chewy);
  font-weight: 400;
  font-style: normal;
}

body {
  background-color: var(--color-bg-accent);
}
